table {
    font-size: 12px !important;
    border-width: 1px;
    border-color: #fff;
    border-collapse: collapse;
    white-space: nowrap !important;
    width: 100%;
    padding: 0px !important;
}

th {
    white-space: nowrap !important;
    font-size: 12px !important;
    background-color: #FFFFFF;
    border-width: 1px;
    padding: 0px !important;
    border-style: solid;
    border-color: #fff;
    text-align: left !important;
}

tr {
    background-color: #ffffff;
    padding: 0px !important;
    text-align: : left !important;
}

td {
    background-color: white;
    border-style: solid !important;
    border-color: #fff !important;
    font-size: 12px !important;
    border-width: 1px;
    padding: 0px !important;
    text-align: left !important;
}

fieldset {
    padding: 5px !important;
    border: none;
    font-size: 14px;
}

hr {
    border-color: black !important;
    border: 1px solid !important;
    padding: 1px !important;
    margin: 1px !important;
    color: black !important;
}

#conteudo {
    display: none;
}

#loading {
    position: fixed !important;
    width: 500px !important;
    height: 200px !important;
    margin: 5% auto !important;
    left: 0 !important;
    right: 0 !important;
}