@charset "utf-8";

body {
	font-family: Calibri!important;
	cursor: context-menu!important;
}
#menu {
	border-color: #B1B1B1!important;
	background: #FFF;
	border: 1px solid;
	padding: 0px!important;
	margin: 0px!important;
	margin-bottom: 10px!important;
}

#menu li{
	padding: 0px!important;
	margin: 0px!important;
	list-style-type: none;
	white-space: nowrap;
}

#menu a{
	background: #FFF;
	color: #666;
	font-size: 13px!important;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	display: block;
	padding: 0px!important;
	padding-right: 1px!important;
	letter-spacing: -0.05em!important;
}

#menu a:hover {
	background: #848484!important;
	color: #E5F0FF!important;
}

#cabecalho{
	margin-top: 19px;
	font-size: 13px!important;
	margin-left: -11px;
}

#borda input{
	height: 22px;
	margin: 0px!important;
	padding: 0px!important;
	width: 250px;
}

#form{
	border-color: #B1B1B1!important;
	/*border: 1px solid;*/
	padding: 0px!important;
	/*padding-left: 15px!important;*/
	margin: 0px!important;
	padding-bottom: 15px!important;
}

legend{
	font-size: 16px;
	margin: 0px!important;
	margin-left: -10px!important;
	margin-bottom: 2px!important;
}

label{
	font-size: 12px;
	margin: 0px!important;
}

h6{
	font-size: 14px;

}

h5{
	margin-top: 10px;
	font-size: 16px;
}

#borda{
	padding: 0px!important;
	padding-left: 15px!important;
	margin: 0px!important;
	padding-bottom: 15px!important;
	border-color: #B1B1B1!important;
	border: 1px solid;
}


thead th {
	position: sticky;
	top: 0;
	background-color: #FFF;
}

table {
	width: 100%!important;
	border-collapse: separate;
	border-spacing: 0;
	font-size:12px!important;
	color:#000!important;
	border-width: 1px!important;
	border-color: #CDCDC1!important;
	zoom: 100%!important;
	text-align:center!important;
}

th {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	padding: 0px!important;
	white-space: nowrap!important;
	font-size:12px!important;
	text-align: center!important;
	border-color: #A4A4A4!important;
}

td {
	text-rendering: geometricPrecision!important;
	text-align: left!important;
	white-space: nowrap!important;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #A4A4A4!important;
	font-size:12px!important;
	padding: 0px!important;
	text-align: center!important;
}

.borderleft{
	border-left: 1px solid!important;
	border-color: #A4A4A4!important;
}

th:first-child,
td:first-child {
	border-left: 1px solid;
}

tbody tr:nth-child(even) {
	overflow: hidden;
}

tr{
	background-color: white!important;
}

tr:hover{
	background-color: white!important;
}


td input{
	margin-bottom: 0px!important;
	height: 15px!important;
	border: 0px solid;
	padding: 0px!important;
	text-align: center;
}

th input{
	padding: 0px!important;
	margin-top: 5px!important;
	margin-bottom: 0px!important;
	height: 15px!important;
}

input[type="checkbox"]{
	width: 15px!important;
	padding-top: 2px!important;
	margin-top: 5px!important;
	margin-bottom: 0px!important;
	cursor: pointer!important;
}

input[type="file"]{
	height: 24px!important;
}


.btEnvia{
	margin-top: 10px;
}

#borda input[readonly]{
	background-color: #E6E6E6!important;
}

.readonly{
	background-color: #E6E6E6!important;
	border-color: white!important;
}

.rem{
	width: 125px!important;
}

.dest{
	width: 125px!important;
}

.serie{
	width: 20px;
}

.nf{
	width: 60px;
}

.dtemissao{
	width: 60px;
}

.vl{
	width: 60px;
	text-align: right!important;
}

.qtpeso{
	width: 40px;
	text-align: right!important;
}

.qtvolume{
	width: 55px;
	text-align: right!important;
}

.nrpedido{
	width: 55px;
}

.dttolerencia{
	width: 60px;
}

.arm{
	width: 50px;
}

.chaveNFe{
	width: 80px;
	border: 1px solid;
	padding: 8px!important;
	border-color: #cccccc;
}

#tabela{
	overflow-y: auto!important;
	overflow-x: auto!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	max-height: 400px!important;
	padding-bottom: 5px;
}

.checklabel label {
	padding-left: 15px!important;
	text-indent: -15px!important;
}

.checklabel input {
	width: 15px!important;
	height: 15px!important;
	padding: 0!important;
	margin:0!important;
	vertical-align: bottom!important;
	position: relative!important;
	top: -1px!important;
}

.red{
	background-color: #EA5757!important;
	text-decoration-color: #EA5757!important;
}

.red input:read-only{
	cursor: context-menu!important;
	background-color: transparent!important;
}

.red input:-moz-read-only {
	cursor: context-menu!important;
	background-color: transparent!important;
}

.green{
	background-color: #8AE474!important;
	text-decoration-color: #8AE474!important;
}

.green input:read-only{
	cursor: context-menu!important;
	background-color: transparent!important;
}

#tabela input:read-only {
	cursor: context-menu!important;
}

.chaveNFe{
	text-align:left;
	cursor: pointer!important;
}

*, input, select, textarea, option, button {
	outline: none!important;
}

#img-excel{
	margin-top: -4px;
	margin-bottom: -13px;
	height: 80%;
	margin-left: 25px;
}

#conteudoAgendamento{
	display: none;
}

#conteudoNoScript{
	display: block;
}