.cabecalho {
	font-size: 14px;
}

.cabecalho td{
	border: 0px solid black;
	padding: 2px;
}

.cabecalho table{
	border: 1px solid black;
    width:100%;
}

.conteudo {
	text-align: justify;
	font-size: 11px;
}

h5 {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 6px;
}

p {
	padding: 0px;
	margin: 0px;
}

@page {
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
}


table{
	font-size:12px!important;
	color:#000!important;
	width:100%!important;
	border-width: 1px!important;
	border-color: #000!important;
	border-collapse: collapse!important;
	zoom: 100%!important;
	text-align:left!important;
	margin-bottom: 6px;
	margin-top: 6px;

}

th{
	background-color: white!important;
	white-space: nowrap!important;
	font-size:12px!important;
	border-width: 1px;
	padding: 0px!important;
	border-style: solid;
	border-color: #000;
	text-align:left!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
}

tr{
	padding: 0px!important;
	text-align: left!important;
}

td{
	border-style: solid!important;
	border-color: #000!important;
	font-size:12px!important;
	border-width: 1px;
	padding: 0px!important;
	text-align: left!important;
}

*, input, select, textarea, option, button {
	outline: none!important;
}