@charset "utf-8";

body {
    font-family: Calibri !important;
    cursor: context-menu !important;
}

#menu {
    border-color: #B1B1B1 !important;
    background: #FFF;
    border: 1px solid;
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 10px !important;
}

#menu li {
    padding: 0px !important;
    margin: 0px !important;
    list-style-type: none;
    white-space: nowrap;
}

#menu a {
    background: #FFF;
    color: #666;
    font-size: 13px !important;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 0px !important;
    padding-right: 1px !important;
    letter-spacing: -0.05em !important;
}

#menu a:hover {
    background: #848484 !important;
    color: #E5F0FF !important;
}

#cabecalho {
    margin-top: 19px;
    font-size: 13px !important;
    margin-left: -11px;
}

#borda input[type="date"] {
    height: 22px;
    margin: 0px !important;
    padding: 0px !important;
    width: 150px;
}

#form {
    border-color: #B1B1B1 !important;
    padding: 0px !important;
    margin: 0px !important;
    padding-bottom: 15px !important;
}

legend {
    font-size: 16px;
    margin: 0px !important;
    margin-left: -10px !important;
    margin-bottom: 2px !important;
}

label {
    font-size: 12px;
    margin: 0px !important;
}

h6 {
    font-size: 14px;
}

h5 {
    margin-left: 10px !important;
    margin-top: 10px;
    font-size: 16px;
}

#borda {
    padding: 0px !important;
    padding-top: 13px !important;
    padding-left: 15px !important;
    margin: 0px !important;
    padding-bottom: 15px !important;
    border-color: #B1B1B1 !important;
    border: 1px solid;
}

input[type="submit"] {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    height: 21px;
}

select {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    height: 22px;
}

tr {
    background-color: white !important;
}

tr:hover {
    background-color: #E6E6E6 !important;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #FFF;
}

table {
    width: 100% !important;
    border-collapse: separate;
    border-spacing: 0;
    margin-right: 0px;
    white-space: nowrap !important;
    padding: 0px !important;
    text-align: left !important;
    font-size: 12px !important;
    margin-right: 2px !important;
    border-color: #CDCDC1 !important;
    border: 0px !important;
    zoom: 100% !important;
}

th {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: center;
    padding: 2px !important;
    white-space: nowrap !important;
    font-size: 12px !important;
    text-align: center !important;
    border-color: #A4A4A4 !important;
    cursor: pointer;
}

td {
    text-rendering: geometricPrecision !important;
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: center !important;
    white-space: nowrap !important;
    font-size: 12px !important;
    border-color: #A4A4A4 !important;
    padding: 2px !important;
    margin: 0px !important;
}

th:first-child,
td:first-child {
    border-left: 1px solid;
}

tbody tr:nth-child(even) {
    overflow: hidden;
}

#tabela {
	overflow-y: auto!important;
	overflow-x: auto!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
	max-height: 350px!important;
}

input[type="submit"] {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    height: 22px !important;
}

input[type="number"] {
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    height: 22px !important;
    width: 50px !important;
    text-align: center !important;
}

tr {
    background-color: white !important;
}

tr:hover {
    background-color: #E6E6E6 !important;
}

.direita {
    text-align: right !important;
}

td a {
    padding: 0px !important;
    margin: 0px !important;
}

.size-14 {
    font-size: 14px !important;
    padding: 0px !important;
    margin: 0px !important;
}

.red{
    background-color: #EA5757!important;
    text-decoration-color: #EA5757!important;
}

.green{
    background-color: #8AE474!important;
    text-decoration-color: #8AE474!important;
}

*,
input,
select,
textarea,
option,
button {
    outline: none !important;
}